{% extends "bootstrap/base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style>
    body {
        margin: 15px;
    }

    div {
        margin: auto;
        position: relative;
        text-align: center;
    }

    pre {
        font-size: xx-large;
    }

    .gallows {
        top: 50%;
        width: 30%;
    }
</style>
{% endblock %}
{% block body %}
<div>
    <h1>{% if winner %}WINNER!!{% else %}Sorry, you missed it{% endif %}</h1>
    <h3>The word was {{secret_word}}</h3>
    <button class="btn btn-primary" onclick="window.location.href='/hangman'">Play Again</button>
</div>
{% endblock %}